<main role="main" class="container">
  
  <div class="jumbotron">
      <a class="btn btn-primary float-right" [routerLink]="['/admin/products/new']">Add Product</a>
    <h1>Manage Products</h1>
    
    <div class="row" style="margin:10px 0;">
      <div class="col-2">
        Search by Title:- 
      </div>
      <div class="col">
          <input type="text" #query
          class="form-control" placeholder="Search..."
            (keyup)="filter(query.value)" />
      </div>
      
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredProducts">
          <td>{{item.title}}</td>
          <td>{{item.category}}</td>
          <td>{{item.price | currency:'&#x20B9; ':true}}</td>
          <td>
            <a [routerLink]="['/admin/products/', item.$key]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)">
  <data-table-column
    [property]="'title'"  
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>
  
  <data-table-column
    [property]="'price'"  
    [header]="'Price'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.price | currency:'USD':true }}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'$key'"  
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/admin/products/', item.$key]">Edit</a>
    </ng-template>
  </data-table-column>

</data-table> -->
    
  </div>
</main>