<div class="mt-2 text-right">
    <a [routerLink]="['/my/orders']" class="btn btn-primary">My Order</a>
  </div>
<div class="row mt-2">
  <div class="col-6">
      <div class="card" *ngIf="allData">
        <product-order-cart [product-detail]="allData" [total-price]="totalPrices"></product-order-cart>
      </div>
  </div>
  <div class="col-6">
    <div class="card" *ngIf="allData">
      <product-view-cart [user-data]="allData" [order-id]="productId"></product-view-cart>
    </div>
  </div>
</div>
  
